# n8n
N8N_ENCRYPTION_KEY=<your-encryption-key-here>
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_HOST=localhost
WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=America/Sao_Paulo

# ngrok
NGROK_AUTHTOKEN=<ngrok-auth-token-here>

# Telegram Bot
TELEGRAM_BOT_TOKEN=<telegram-bot-token-here>

# OpenWeatherMap API
OPENWEATHER_API_KEY=<openweathermap-api-key-here>
